:root{
  --darkgray:#111215;
  --brown:#433431;
  --darkblue:#242c4f;
  --gray:#49494f;
  --lightblue:#2250e4;
  --lightgray:#777cb2;
  --blue:#2947b4;

}

* {
  margin:0;
  box-sizing: border-box;
}
body {
  background-color: var(--darkgray);
}

.hover-white:hover {
  color:white;
  cursor: pointer;
}

